<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Stock Trading App</title>

    <!---Bootstrap Icon & CSS-->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary" style="background-color: blue;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'logo.jpg' %}" width="110px;" height="60px;" alt="logo">  
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'landing' %}">Intro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'register' %}">Register</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!---Navbar Ends here-->
    <div class="container-fluid">

        {% block start %}
       

        {% endblock %}
    
    </div>
  <!-- Copyright-->
  <div class="row bg-secondary text-white text-center p-1">
    <div class="col-12">
      <p>Developed and shared by Batch 2023-2024 PGCSS IIIT-H, in collaboration with Great Learning online plateform.</p>
    </div>
  </div>
</body>
</html>
    