{% extends 'landingbase.html' %}

{% block start %}
{% load static %}


<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'dsban2.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="col-md-6">
            <h3 class="display-6 mt-5 mb-2 text-center text-md-start ps-md-3">
                This Stock Trading App is a full stack application.<br> <br> Buy/sell signal based on ML model.  
            </h3>
        </div>
    </div>
    <hr>
    <div class="row justify-content-evenly pt-3 pb-3">
        <div class="col-md-3 text-center mt-5">
            <h1><i class="bi bi-file-code-fill text-primary"></i></h1>
        
            <h5>Frontend GUI</h5>
            <p>
                This Stock trading app has GUI to analyse the live market trend, backtest and visualize most common indicators.
            </p>
        </div>

        <div class="col-md-3 text-center mt-5">
            <h1><i class="bi bi-easel-fill text-danger"></i></h1>
            
            <h5>Bankend Tech</h5>
            <p>
                This app is developed on python django tech stack intergrating ICICI Breeze API for data cosumption. 
            </p>
        </div>

        <div class="col-md-3 text-center mt-5">
            <h1><i class="bi bi-calendar3-range-fill text-success"></i></h1>
            
            <h5>Built by traders </h5>
            <p>
                Active traders has contributed in development making this app best both worlds, technology + technical analyst.
            </p>
        </div>
    </div>
</div>
{% endblock %}
