{% extends 'landingbase.html' %}

{% block start %}
<div class="container py-5 mb-5">
  <div class="row justify-content-center align-items-center">
      <!-- Form column -->
      <div class="col-md-6">
          <div style="background-color:#f1f1f1; padding: 20px;">
              <h3 class="mb-4 text-center">Login</h3>
              <form method="post">

                  {% csrf_token %}

                  <div class="form-group row mb-3">
                      <label for="username" class="col-sm-4 col-form-label">username</label>
                      <div class="col-sm-8">
                          <input type="text" name="username" class="form-control" id="username" placeholder=" a unique username ">
                      </div>
                  </div>
                  
                  <div class="form-group row mb-3">
                      <label for="password" class="col-sm-4 col-form-label">Password</label>
                      <div class="col-sm-8">
                          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                      </div>
                  </div>
                  <p> Don't have an account <a href="{% url 'register' %}"> Register </a></p>
                  <div class="form-group row"> <!-- Moved the button inside a separate row -->
                      <div class="col-sm-8 offset-sm-4"> <!-- Adjusted column size and added offset -->
                          <button type="submit" class="btn btn-primary btn-block">Register</button> <!-- Added btn-block class for full-width button -->
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


{% endblock %}
