{% extends 'landingbase.html' %}

{% block start %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style= "padding-top: 10%;"> <!-- Adjusted height and padding-top -->
      <div class="col-md-3"> <!-- Increased column size -->
          <div style="background-color: #f1f1f1; padding: 20px;">
              <h3 class="mb-3 text-center">Login</h3> <!-- Increased margin bottom -->
              <form>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div class="form-group row mb-3">
                      <label for="Email" class="col-sm-3 col-form-label">E-mail</label>
                      <div class="col-sm-9"> <!-- Adjusted column size -->
                        <input type="email" class="form-control" id="Email" placeholder="s.Khan@gmail.com">
                      </div>
                  </div>
                  
                  <div class="form-group row mb-3">
                      <label for="Password" class="col-sm-3 col-form-label">Password</label>
                      <div class="col-sm-9"> <!-- Adjusted column size -->
                        <input type="Password" class="form-control" id="Password" placeholder="Password">
                      </div>
                  </div>

                  <div class="form-group row"> <!-- Moved login/submit button inside a new row -->
                    <div class="col-sm-9 offset-sm-3"> <!-- Adjusted column size and added offset -->
                      <button type="submit" class="btn btn-primary btn-block">Login</button> <!-- Added btn-block class for full-width button -->
                    </div>
                  </div>
              </form>
              {% if error_message %}
              <p>{{ error_message }}</p>
              {% endif %}
          </div>
      </div>
  </div>
</div>

{% endblock %}
