{% extends 'landingbase.html' %}

{% block start %}
{% load static %}

<div class="row">
    <div class="col-12">
        <h3 class="display-6 text-center mt-5 mb-2">
        Welcome to Stock Trading App. <br> The capstone project of IIIT-H + GL PGCSS Batch 2023-24</h3>
    </div>
</div>

<div class="container py-5 mb-5">
    <div class="row justify-content-center align-items-center">
        <!-- Form column -->
        <div class="col-md-6">
            <div style="background-color:#f1f1f1; padding: 20px;">
                <h3 class="mb-4">Register here</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    
                    <div class="form-group row"> <!-- Moved the button inside a separate row -->
                        <div class="col-sm-8 offset-sm-4"> <!-- Adjusted column size and added offset -->
                            <button type="submit" class="btn btn-primary btn-block">Register</button> <!-- Added btn-block class for full-width button -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
{% endblock %}